version: '3.8'

services:
  hadoop-master:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-master
    hostname: hadoop-master
    networks:
      - hadoop
    ports:
      - "9870:9870"   # NameNode Web UI
      - "8088:8088"   # Resource Manager UI
      - "7077:7077"   # Spark Master
      - "19888:19888" # MapReduce JobHistory Server
      - "8080:8080"   # Spark Master Web UI
      - "9000:9000"   # HDFS NameNode RPC
    volumes:
      - ./hadoop_project:/shared_volume
    stdin_open: true
    tty: true
    command: /bin/bash

  hadoop-slave1:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-slave1
    hostname: hadoop-slave1
    networks:
      - hadoop
    ports:
      - "8040:8042"   # NodeManager Web UI
    depends_on:
      - hadoop-master
    stdin_open: true
    tty: true
    command: /bin/bash

  hadoop-slave2:
    image: yassern1/hadoop-spark-jupyter:1.0.3
    container_name: hadoop-slave2
    hostname: hadoop-slave2
    networks:
      - hadoop
    ports:
      - "8041:8042"   # NodeManager Web UI
    depends_on:
      - hadoop-master
    stdin_open: true
    tty: true
    command: /bin/bash

networks:
  hadoop:
    driver: bridge

volumes:
  hadoop_project:
    driver: local